html ,body{
	width: 1440px;
	padding: 0;
	margin: 0;
	font-family: 'Manrope', sans-serji;
	color: #FFFFFF;
	font-size: 16px;
}
ul,li{
	display: block;
	margin-right: 32px;
	font-size: 14px;
	padding: 0;

}
.logo{
	margin-right: 305px;
}
.container{
	margin: 0 auto;
	background-color: #000000;
}
.header a{
	color: #FFFFFF;

}
.menu {
	display: flex;
}
.menu li a{
	/*text-transform: uppercase;*/
	text-decoration: none;
	letter-spacing: 0.1px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}
.menu li {
	margin-right: 40px;

}
.nav {
	display: flex;
	align-items: center;
	padding: 120px;
	padding-top: 22px;
}
.btn{
	display: block;
	font-size: 14px;
	text-align: center;
	color: #9B44FF;
	text-decoration: none;
	letter-spacing: 0.1px;
	padding: 10px 30px;
	border: 1px solid black;
	width: 100px;
	border-radius: 8px;
	background: #9B44FF;
	margin-left: 14px;
	}
.Hero {
	display: flex;
	align-items: center;
	padding-left: 120px;
	padding-top: 256px;
	padding-bottom: 256px;
}	
.Group h1{
	letter-spacing: 0.1px;
	font-size: 70px;
	text-decoration: none;
	font-weight: bold;
	display: flex;
	align-items: center;

}
.Group p{
	letter-spacing: 0.1px;
	font-size: 18px;
	text-decoration: none;
	font-weight: initial;
	display: flex;
	align-items: center;
	padding-top: 18px;
}
.btn3{
	display: block;
	font-size: 14px;
	text-align: center;
	color: #9B44FF;
	text-decoration: none;
	letter-spacing: 0.1px;
	padding: 10px 30px;
	border: 1px solid black;
	width: 100px;
	border-radius: 8px;
	background: #9B44FF;
	
	}
	.footer{
		font-family: 'Manrope', sans-serji;
		padding-left: 226px;
		background-color: #000000;
		letter-spacing: 0.1px;
		font-size: 18px;
		
		font-weight: initial;
		align-items: center;
		padding-top: 18px;
		padding-bottom: 64px;
		display: flex;
	}
.BFooter{
	display: flex;
	padding-bottom: 64px;
}

.footer__col--first{
		width: 25%;
	}
.footer__col--second{
		width: 25%;
	}
.footer__col--third{
		width: 25%;
	}
.footer__col--quarter{
		width: 25%;
	}
.footer__menu a {
	text-decoration: none;
	margin-top: 24px;
	color: #FFFFFF;
	font-weight:100;
}
.footer__menu li{
	margin-top: 24px;
}
.apps{
	padding-top: 16px;
}
.footer__doun {
	display: flex;
	align-items: center;
	font-size: 14px;
		}
.footer__img {
		
width: 50%;
margin-right: auto;
}
.reserved{
	width: 50%;
}

.block1{
	color: black;
	font-weight: initial;
	align-items: center;
	padding-top: 18px;
	padding-bottom: 64px;
	margin: 120px;
		
	
}
.block__col{
	display: flex;
}

.block1 h4{
	letter-spacing: 0.1px;
	font-size: 40px;
	font-weight: bold;
	align-items: center;
	color: black;

}

	

.detals li{
	padding-top: 4px;
}

.block1__col--first{
	width: 25%;
}

.block2 h4{
	letter-spacing: 0.1px;
	font-size: 40px;
	font-weight: bold;
	align-items: center;
	color: black;
	padding-left: 231px;
}

 .slider {
        width: 50%;
        margin-left: 600px;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before{
    	background: url("img/Left Arrow.png");
    }
    .slick-next:before {
      background: url("img/Right Arrow.png");
    }

.Contact{
	margin-top: 100px;
	display: flex;
}
    
.Contact img{
	padding-left: 120px;
	width: 607px;
	height: 607px;
}

.Contact h4{
	letter-spacing: 0.1px;
	font-size: 40px;
	font-weight: bold;
	align-items: center;
	color: black;
	padding-left: 131px;
}

.subskray{
	padding-left: 131px;
	padding-bottom: 32px;

}

.inpN{
	padding-bottom: 24px;

}

.inpF{
	padding-bottom: 24px;

}
.inpe{
		padding-bottom: 24px;

}

.subskray__input{
	background: #F9F9F9;
	border: 0;

}